.profile_container {
    display: flex;
    padding: 30px 80px 30px 180px;
    flex-direction: column;
    gap: 75px;
}

.content_container {
    display: flex;
    gap: 85px;
}

.avatar_container {
    width: 168px;
    height: 168px;
    background-image: url('./../../assets/icons/avatar_bg.svg');
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: inherit;
}