.edit_profile_wrapper {
    flex-grow: 1;
    max-width: 984px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.edit_profile_inner {
    width: 100%;
    max-width: 610px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title_page {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #000000;
}

.content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 16px 8px;
    background: #EFEFEF;
    border-radius: 20px;
}

.content_inner {
    display: flex;
    flex-direction: column;
    gap: 9px;
    flex-grow: 1;
}

.content_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
}

.content_bio {
    font-size: 14px;
    line-height: 18px;
    color: #737373;
    flex-grow: 1;
    max-height: 35px;
    overflow: hidden;
}

.content_actions {
    flex-shrink: 0;
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 67px;
}


.input_list_container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.label_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
}

.input {
    border: 1px solid #DBDBDB;
    border-radius: 12px;
    padding: 11px 17px;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.form_actions {
    align-self: flex-start;
}