.footer {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 25px 0 60px;
    align-items: center;
}

.link_container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.link {
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-decoration: none;
}

.copyright {
    font-size: 12px;
    line-height: 16px;
    color: #737373;
}